<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Cart</title>
    <th:block th:insert="~{index.html::libraries}"></th:block>
</head>

<body>
<nav th:insert="~{index.html::nav}"></nav>
<div class="b-example-divider" style="padding-bottom: 55px;"></div>
<div class="b-example-divider" style="padding-top: 100px;"></div>
<div class="container col-lg-6">
    <div class="text-center fs-4 fw-bold fst-italic mb-4">Your Cart</div>
    <form th:action="@{/user/cart-upd}" method="POST" th:object="${cart}">
        <input type="hidden"  th:field="*{id}" th:value="${cart.id}">
        <input type="hidden" th:field="*{persona}" th:value="${cart.persona}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-1 fs-5">#</th>
                <th class="col-2 fs-5">Product</th>
                <th class="col-1 fs-5">Amount</th>
                <th class="col-2 fs-5">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${cart.cartItems}">
                <input th:field="*{cartItems[__${itemStat.index}__].product}" type="hidden" th:value="${item.product}">
                <input th:field="*{cartItems[__${itemStat.index}__].id}" type="hidden" th:value="${item.id}">
                <input th:field="*{cartItems[__${itemStat.index}__].cart}" type="hidden" th:value="${item.cart}">

                <td th:text="${itemStat.index + 1 + '.'}"></td>

                <td th:text="${item.product.name}"></td>
                <td>
                    <input class="form-control text-center me-3" th:field="*{cartItems[__${itemStat.index}__].amount}" id="inputQuantity" type="number" min="1" max="99" name="amount" th:value="${item.amount}"
                           onchange="updateTotal()" style="max-width: 4rem">
                </td>
                <td>
                    <div class="d-inline" th:text="${item.product.price + '$'}"></div>
                    <div class="ms-5 d-inline">
                        <a th:href="@{/user/cart/delete/{itemId}(itemId=${item.id})}" class="btn-close"></a>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot class="table-group-divider">
            <tr>
                <td colspan="3" class="fs-5 fw-bold fst-italic">Total:</td>
                <input class="item-total" type="hidden" th:each="item : ${cart.cartItems}">
                <td>
                    <input type="hidden" id="total" name="total">
                    <span id="displayTotal" class="fs-5 fw-bold fst-italic">...</span>
                </td>
            </tr>
            </tfoot>
        </table>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary">Make an order!</button>
        </div>
        <div th:if="${param.emptycart}" class="text-center mt-3">
            <small class="alert alert-danger p-1 m-auto">Your cart is empty!</small>
        </div>
    </form>
</div>

<script>
    function updateTotal() {
        var total = 0;
        document.querySelectorAll('#inputQuantity').forEach(function (input) {
            var amount = parseInt(input.value);
            var price = parseFloat(input.parentNode.nextElementSibling.textContent);
            total += amount * price;
        });
        document.getElementById('total').value = total.toFixed(2);
        document.getElementById('displayTotal').textContent = total.toFixed(2) + '$';
    }
    updateTotal();
</script>

<div class="b-example-divider" style="padding-bottom: 160px;"></div>
<footer th:insert="~{login::foot-fixed}"></footer>
</body>
</html>
