<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Log in</title>
    <th:block th:insert="~{index.html::libraries}"></th:block>
</head>
<body class="bg-light">

<div class="b-example-divider"></div>
<div class="modal position-static d-block bg-light py-5" tabindex="-1" role="dialog">
    <div class="modal-dialog w-auto m-auto" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pt-3 pb-2 border-bottom-0">
                <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
                <h1 class="fw-bold mb-0 fs-4">Log in</h1>
                <a th:href="@{/}">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </a>
            </div>
            <div class="modal-body p-5 pt-3 pb-0">
                <form th:action="@{/spring_security_check}" method="post">
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control rounded-3" id="floatingInput"
                               placeholder="name@example.com" required>
                        <label for="floatingInput">Email address</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a valid information.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control rounded-3" id="floatingPassword"
                               placeholder="Password" required>
                        <label for="floatingPassword">Password</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a valid information.
                        </div>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Log in</button>
                    <div th:if="${param.error}" class="text-center">
                        <small class="alert alert-danger p-1 m-auto">Wrong login or password</small>
                    </div>
                    <div class="card-footer text-center py-3">
                        <div class="small"><a th:href="@{/registration}">Don't have an account yet? Go to sign in</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="fixed-bottom bg-dark color p-3" th:fragment="foot-fixed">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2 text-success">
                    <li class="list-inline-item"><a href="#!">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                </ul>
                <p class="text-light small mb-1 mb-lg-0">&copy; Dream Website 2023. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto ">
                <ul class="list-inline mb-0 ">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="b-example-divider" style="padding-bottom: 160px;"></div>
</body>
</html>