<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Persona management</title>
    <th:block th:insert="~{index.html::libraries}"></th:block>
</head>
<body>
<nav th:insert="~{index.html::nav}"></nav>
<div class="b-example-divider" style="padding-bottom: 55px;"></div>
<div class="container my-2">
    <h3 class="text-center">Personas List</h3>
    <div class="d-flex justify-content-between align-items-center">
        <a th:href="@{/admin/new-persona}" class="btn btn-primary mb-3 me-3">Add new user</a>
        <form class="d-flex" role="search" method="get" th:action="@{/admin/personas}">
            <input class="form-control me-2" type="search" name="emailSearch" placeholder="Search by email"
                   aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
    </div>

    <table class="table table-hover table-bordered table-striped border-1 table-responsive">
        <thead class="table-dark">
        <tr th:if="${emailSearch != null}">
            <th>
                <a th:href="@{'/admin/personas' + '?' + ${currentPage} + '&emailSearch=' + ${emailSearch} +  '&sortField=id&sortDir=' + ${reverseSort}}">
                    Id
                </a>
            </th>
            <th>
                <a th:href="@{'/admin/personas' + '?' + ${currentPage} + '&emailSearch=' + ${emailSearch} +  '&sortField=name&sortDir=' + ${reverseSort}}">
                    Name
                </a>
            </th>
            <th>
                <a th:href="@{'/admin/personas' + '?' + ${currentPage} + '&emailSearch=' + ${emailSearch} +  '&sortField=lastName&sortDir=' + ${reverseSort}}">
                    Last Name
                </a>
            </th>
            <th>
                <a th:href="@{'/admin/personas' + '?' + ${currentPage} + '&emailSearch=' + ${emailSearch} +  '&sortField=email&sortDir=' + ${reverseSort}}">
                    E-mail
                </a>
            </th>
            <th>
                <a th:href="@{'/admin/personas' + '?' + ${currentPage} + '&emailSearch=' + ${emailSearch} + '&sortField=role&sortDir=' + ${reverseSort}}">
                    Authority
                </a>
            </th>
            <th class="text-center">Actions</th>
        <tr th:unless="${emailSearch != null}">
            <th>
                <a th:href="@{'/admin/personas' + '?' + ${currentPage} + '&sortField=id&sortDir=' + ${reverseSort}}">
                    Id
                </a>
            </th>
            <th>
                <a th:href="@{'/admin/personas' + '?' + ${currentPage} + '&sortField=name&sortDir=' + ${reverseSort}}">
                    Name
                </a>
            </th>
            <th>
                <a th:href="@{'/admin/personas' + '?' + ${currentPage}  +  '&sortField=lastName&sortDir=' + ${reverseSort}}">
                    Last Name
                </a>
            </th>
            <th>
                <a th:href="@{'/admin/personas' + '?' + ${currentPage} + '&sortField=email&sortDir=' + ${reverseSort}}">
                    E-mail
                </a>
            </th>
            <th>
                <a th:href="@{'/admin/personas' + '?' + ${currentPage} + '&sortField=role&sortDir=' + ${reverseSort}}">
                    Authority
                </a>
            </th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="persona : ${personaList}">
            <td class="col" th:text="${persona.id}"></td>
            <td class="col" th:text="${persona.name}"></td>
            <td class="col" th:text="${persona.lastName}"></td>
            <td class="col" th:text="${persona.email}"></td>
            <td class="col" th:text="${persona.role}"></td>
            <td class="col text-center">
                <a th:href="@{/admin/personas/ban/{id}(id = ${persona.id})}" class="btn btn-secondary p-1">Ban/Unban</a>
                <a th:href="@{/admin/personas/delete/{role}(role = ${persona.id})}"
                   class="btn btn-danger p-1">Delete</a>
                <a th:href="@{/admin/personas/orders/{email}(email = ${persona.email})}"
                   class="btn btn-primary p-1">Orders</a>
            </td>
        </tr>
        </tbody>
        <div th:if="${param.nope}" class="text-center">
            <small class="alert alert-danger p-1 m-auto">You Can Not Ban an Admin!</small>
        </div>
        <div th:if="${param.aloneInTheField}" class="text-center">
            <small class="alert alert-danger p-1 m-auto">At least one Admin should be survived!</small>
        </div>
    </table>
    <div class="col-sm-12">
        <nav aria-label="Page navigation" th:if="${allPages > 1}">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" th:href="@{/admin/personas(page=0)}">First</a></li>
                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, allPages - 1)}"
                    th:classappend="${pageNumber == currentPage ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{/admin/personas(page=${pageNumber})}"
                       th:text="${pageNumber + 1}"></a>
                </li>
                <li class="page-item"><a class="page-link" th:href="@{/admin/personas(page=${allPages - 1})}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="justify-content-center text-center mt-5">
    <div class="dropdown-center">
        <button class="btn btn-dark dropdown-toggle col-lg-6" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            Massive General email sender
        </button>
        <form class="dropdown-menu p-4 content-center w-50 col-lg-6" th:action="@{/admin/general-email}" method="post">
            <div class="mb-3">
                <label class="form-label">Topic:</label>
                <input type="text" class="form-control" name="topic">
            </div>
            <div class="mb-3">
                <label class="form-label">Body:</label>
                <textarea type="text" class="form-control" name="body"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Send mail</button>
            </div>
        </form>
    </div>
</div>
<div th:if="${param.mails}" class="text-center">
    <small class="alert alert-success p-1 m-auto">Mails successfully send!</small>
</div>

<div class="b-example-divider" style="padding-bottom: 160px;"></div>
<footer th:insert="~{login::foot-fixed}"></footer>
</body>
</html>