<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Product management</title>
    <th:block th:insert="~{index.html::libraries}"></th:block>
</head>
<body class="bg-light">
<div class="b-example-divider"></div>
<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog">
    <div class="container col-9" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pt-4 pb-2 border-bottom-1">
                <h1 class="fw-bold mb-0 fs-4">Product management</h1>
                <a th:href="@{/}">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </a>
            </div>
            <div class="modal-body p-5 pb-4 pt-3 pb-0">
                <form id="create" th:action="@{/admin/product-add}" th:object="${product}" method="post"
                      enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <input type="text" name="name" th:field="*{name}" class="form-control rounded-3"
                               id="floatingInput" maxlength="255"
                               placeholder="category" required>
                        <label for="floatingInput">Product title</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a valid information.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" step="0.01" min="0.01" name="price" th:field="*{price}"
                               class="form-control rounded-3" id="price"
                               placeholder="price" required>
                        <label for="price">Price 00.00$</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a valid information.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                            <textarea name="description" class="form-control rounded-3" id="desc"
                                      placeholder="Description" maxlength="1000"
                                      required="" style="height: 150px; overflow-y: auto;" th:field="*{description}">
                            </textarea>
                        <label for="desc">Description</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a valid information.
                        </div>
                    </div>

                    <div class="form-floating">
                        <select class="form-select" id="group" aria-label="Floating label select example"
                                name="categoryId">
                            <div th:each="category : ${categories}">
                                <option th:value="${category.id}" th:text="${category.nameCategory}"
                                        th:selected="${category.id == categoryId}"></option>
                            </div>
                        </select>
                        <label for="group">Choose Category</label>
                    </div>

                    <div class="mb-3">
                        <label for="formFile" class="form-label">Input image</label>
                        <input class="form-control" type="file" accept="image/*" id="formFile" name="multipartFile">
                    </div>
                    <button class="w-100 mb-3 btn btn-lg rounded-3 btn-primary" type="submit" form="create"
                            onclick="submitForm()">Create
                    </button>
                    <div th:if="${param.error}" class=" pb-2 text-center">
                        <small class="alert alert-danger p-1 m-auto">Incorrect values</small>
                    </div>
                    <div th:if="${param.success}" class=" pb-2 text-center">
                        <small class="alert alert-success p-1 m-auto">Success</small>
                    </div>
                    <div th:if="${param.miss}" class=" pb-2 text-center">
                        <small class="alert alert-danger p-1 m-auto">File not added</small>
                    </div>
                    <div class="card-footer text-center">
                        <select class="form-select mb-3" size="8" id="productSelect">
                            <div th:each="product : ${products}">
                                <option th:value="${product.id}" th:text="${product.name}"></option>
                            </div>
                        </select>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-secondary" onclick="deleteProduct()"
                                form="productSelect">Delete
                        </button>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" onclick="update()"
                                form="productSelect">Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<footer th:insert="~{index::foot}"></footer>

<script>
    function deleteProduct() {
        var productId = document.getElementById("productSelect").value;
        $.ajax({
            url: '/admin/delete-product/' + productId,
            type: 'POST',
            success: function () {
                location.reload();
            }
        });
    }
</script>
<script>
    function submitForm() {
        document.getElementById("create").submit();
        location.reload();
    }
</script>
<script>
    function update() {
        var productId = document.getElementById("productSelect").value;
        $.ajax({
            url: '/admin/update-product/' + productId,
            type: 'GET',
            success: function () {
                window.location.href = '/admin/update-product/' + productId;
            }
        });
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>