<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Product</title>
    <th:block th:insert="~{index.html::libraries}"></th:block>
</head>
<body>
<nav th:insert="~{index.html::nav}"></nav>
<div class="b-example-divider" style="padding-bottom: 55px;"></div>
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center" th:object="${product}">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="${product.img}" alt="..." style="max-height:800px;max-width:100%;width:auto;"></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder" th:text="${product.name}">Shop item template</h1>
                <div class="fs-5 mb-5">
                    <span th:text="${product.price} + '$'">...</span>
                </div>
                <p class="lead" th:text="${product.description}">...</p>
                <form id="addToCartForm" method="POST" th:action="@{/user/cart/{productId}(productId=${product.id})}">
                    <div class="d-flex">
                        <input class="form-control text-center me-3" min="1" max="99" id="inputQuantity" type="number"
                               name="amount"
                               value="1" style="max-width: 4rem"/>
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit"
                                th:classappend="${principal == null ? 'disabled' : ''}">
                            <i class="bi-cart-fill me-1"></i>
                            <a class="text-decoration-none text-reset">Add
                                to cart</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light" th:if="${relatedProducts != null}">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related Items</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" th:each="relProd : ${relatedProducts}">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" th:src="${relProd.img}" alt="..." style="max-height:200px;width:100%;object-fit: contain;"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder" th:text="${relProd.name}" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Popular Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                            </div>
                            <!-- Product price-->
                            [[${relProd.price}]]$
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-2 pb-3 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" th:href="@{/product/{id}(id = ${relProd.id})}">
                                Details</a>
                            <form style="display: inline-block;">
                                <a class="btn btn-outline-dark mt-auto text-decoration-none" id="add-to-cart"
                                   th:classappend="${principal == null ? 'disabled' : ''}"
                                   th:onclick="'addProduct(' + ${relProd.id} + ')'">Add to cart</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:insert="~{index::foot}"></footer>

<script>
    function addProduct(productIdStr) {
        var productId = parseInt(productIdStr);
        $.ajax({
            url: '/user/cart/' + productId,
            type: 'POST',
            success: function () {
                location.reload();
            }
        });
    }
</script>
<script>
    const form = document.getElementById('addToCartForm');
    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        const url = form.getAttribute('action');
            const response = await fetch(url, {
                method: 'POST',
                body: formData
            });
            if (response.ok) {
                location.reload();
            }
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>