<!DOCTYPE html>
<html lang="en">
<head>
    <title>Success</title>
    <th:block th:insert="~{index.html::libraries}"></th:block>
</head>
<body>
<nav th:insert="~{index.html::nav}"></nav>
<div class="b-example-divider" style="padding-bottom: 85px;"></div>
<main>
    <div class="container col-lg-6 mx-auto">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="text-center mt-4 m-auto">
                    <img class="mb-4 img-error" src="/assets/success.jpg" height="360"/>
                    <p class="lead text-center fw-bold">Thank you for choosing our business! Your satisfaction is our top
                        priority, so please let us know if there's anything we can do to make your experience even
                        better! Please don't hesitate to reach out if you have any questions or concerns.</p>
                    <a th:href="@{/}">
                        <span class="bi bi-arrow-left blue-color"> </span>
                        Return to Shopping
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="b-example-divider" style="padding-bottom: 160px;"></div>
<footer th:insert="~{login::foot-fixed}"></footer>
</body>
</html>